In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('processed_categories.csv')
data_dict = pd.read_csv("data_dictionary.csv")

In [6]:
df.head()

,person_id,age,location,gender,race,ethnicity,Cough,Abnormal breathing,Muscle pain,Headache,...,Ferritin [Mass/volume] in Serum or Plasma by Immunoassay,Lactate dehydrogenase [Enzymatic activity/volume] in Serum or Plasma by Lactate to pyruvate reaction,Fibrin D-dimer FEU [Mass/volume] in Blood by Immunoassay,Platelets [#/volume] in Blood by Automated count,Elevated levels of transaminase & lactic acid dehydrogenase,Gamma glutamyl transferase [Enzymatic activity/volume] in Serum or Plasma,Monocytes [#/volume] in Blood by Automated count,Basophils [#/volume] in Blood by Automated count,Hematocrit [Volume Fraction] of Blood by Automated count,test_result
0,0,73,6977,M,30,28,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,209.0,NaN,NaN,NaN,NaN,NaN,0.0
1,1,88,1605,M,10,29,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,2,58,2242,F,30,29,0.0,0.0,0.0,0.0,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,3,32,97,F,30,29,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,4,70,3915,M,30,28,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [7]:
df.test_result.value_counts()

0.0    44947
1.0     4944
Name: test_result, dtype: int64

In [8]:
# oversample and undersample the feature space
ones = df[df.test_result == 1]
zeros = df[df.test_result == 0]
zeros = zeros.iloc[:len(ones), :]
df = pd.concat([zeros, ones], axis = 0)

In [9]:
df.head()

,person_id,age,location,gender,race,ethnicity,Cough,Abnormal breathing,Muscle pain,Headache,...,Ferritin [Mass/volume] in Serum or Plasma by Immunoassay,Lactate dehydrogenase [Enzymatic activity/volume] in Serum or Plasma by Lactate to pyruvate reaction,Fibrin D-dimer FEU [Mass/volume] in Blood by Immunoassay,Platelets [#/volume] in Blood by Automated count,Elevated levels of transaminase & lactic acid dehydrogenase,Gamma glutamyl transferase [Enzymatic activity/volume] in Serum or Plasma,Monocytes [#/volume] in Blood by Automated count,Basophils [#/volume] in Blood by Automated count,Hematocrit [Volume Fraction] of Blood by Automated count,test_result
0,0,73,6977,M,30,28,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,209.0,NaN,NaN,NaN,NaN,NaN,0.0
1,1,88,1605,M,10,29,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,2,58,2242,F,30,29,0.0,0.0,0.0,0.0,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,3,32,97,F,30,29,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,4,70,3915,M,30,28,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [10]:
# convert to a dict for easy lookup
concept_id_map = dict(zip(data_dict.concept_id,data_dict.concept_name))

In [11]:
# split df into X and y
y = df.iloc[:,-1]
X = df.iloc[:,:-1]

In [12]:
# X.isnull().sum()

In [13]:
measurement_feature = ['3027018', '3020891', '3012888', '3004249', '4196147', '3016502', 
                       '3018465', '3024928', '3004327', '3013650',
                       '3009932', '3015242','3022250', '42870366', '3024929', 
                       '436238', '3026910', '3033575', '3013429', '3023314']

condition_feature = ['254761','4305080','442752','378253','259153','196523',
                     '31967','27674','45757468','441408','434490','4168213',
                     '77670','4223659','315078','437663','439937']

for col_name in condition_feature:
    print(col_name,"\n", df[concept_id_map[int(col_name)]].value_counts())

254761
 0.0    9511
1.0     377
Name: Cough, dtype: int64
4305080
 0.0    9888
Name: Abnormal breathing, dtype: int64
442752
 0.0    9033
1.0     855
Name: Muscle pain, dtype: int64
378253
 0.0    9488
1.0     400
Name: Headache, dtype: int64
259153
 0.0    9888
Name: Pain in throat, dtype: int64
196523
 0.0    9520
1.0     368
Name: Diarrhea, dtype: int64
31967
 0.0    9522
1.0     366
Name: Nausea, dtype: int64
27674
 0.0    9496
1.0     392
Name: Nausea and vomiting, dtype: int64
45757468
 0.0    9888
Name: Vomiting without nausea, dtype: int64
441408
 0.0    9758
1.0     130
Name: Vomiting, dtype: int64
434490
 0.0    9888
Name: Chill, dtype: int64
4168213
 0.0    9888
Name: Chest pain on breathing, dtype: int64
77670
 0.0    9130
1.0     758
Name: Chest pain, dtype: int64
4223659
 0.0    9494
1.0     394
Name: Fatigue, dtype: int64
315078
 0.0    9538
1.0     350
Name: Palpitations, dtype: int64
437663
 0.0    9450
1.0     438
Name: Fever, dtype: int64
439937
 0.0    9888
Name: C-reactive protein abnormal, dtype: int64

In [14]:
# drop abnormal breathing, pain in throat, vomiting without nausea, chills, chest pain on breathing, C-reactive protein

In [15]:
to_drop = ['439937', '4168213', '45757468', '259153', '4305080']
drop_cols = [concept_id_map[int(i)] for i in to_drop]
drop_cols = drop_cols + ['location']

In [16]:
df.drop(columns=drop_cols, inplace=True, errors='ignore')

In [17]:
df.race = [str(i) for i in df.race]
df.ethnicity = [str(i) for i in df.ethnicity]

In [18]:
X = df.iloc[:,:17]
X = pd.get_dummies(X)
X.head()

,person_id,age,Cough,Muscle pain,Headache,Diarrhea,Nausea,Nausea and vomiting,Vomiting,Chill,...,Fever,gender_F,gender_M,race_10,race_13,race_26,race_30,ethnicity_19,ethnicity_28,ethnicity_29
0,0,73,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,1,0,0,0,1,0,1,0
1,1,88,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,1,1,0,0,0,0,0,1
2,2,58,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1,0,0,0,0,1,0,0,1
3,3,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1,0,0,0,0,1,0,0,1
4,4,70,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,1,0,0,0,1,0,1,0

In [19]:
X.columns

Index(['person_id', 'age', 'Cough', 'Muscle pain', 'Headache', 'Diarrhea',
       'Nausea', 'Nausea and vomiting', 'Vomiting', 'Chill', 'Chest pain',
       'Fatigue', 'Palpitations', 'Fever', 'gender_F', 'gender_M', 'race_10',
       'race_13', 'race_26', 'race_30', 'ethnicity_19', 'ethnicity_28',
       'ethnicity_29'],
      dtype='object')

In [20]:
y.value_counts()

1.0    4944
0.0    4944
Name: test_result, dtype: int64

In [21]:
# define random seed for reproducibility
STATE = 3

In [22]:
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn.decomposition import PCA
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report

In [23]:
# models
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [24]:
print(X.shape)
print(y.shape)

(9888, 23)
(9888,)

In [25]:
x_train, x_test, y_train, y_test = train_test_split(X, y,test_size = 0.3, random_state=STATE, shuffle=True)

In [26]:
# KNN classifier
model = KNeighborsClassifier()
model.fit(x_train, y_train)
predictions = model.predict(x_test)

In [27]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

         0.0       0.90      0.99      0.94      1487
         1.0       0.99      0.89      0.94      1480

    accuracy                           0.94      2967
   macro avg       0.95      0.94      0.94      2967
weighted avg       0.95      0.94      0.94      2967

In [28]:
# Decision tree classifier
model = DecisionTreeClassifier(random_state=STATE)
model.fit(x_train, y_train)
predictions = model.predict(x_test)

In [29]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

         0.0       0.90      0.90      0.90      1487
         1.0       0.90      0.90      0.90      1480

    accuracy                           0.90      2967
   macro avg       0.90      0.90      0.90      2967
weighted avg       0.90      0.90      0.90      2967

In [30]:
# Random forest classifier
model = RandomForestClassifier(random_state=STATE)
model.fit(x_train, y_train)
predictions = model.predict(x_test)

In [31]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

         0.0       0.90      0.99      0.94      1487
         1.0       0.99      0.89      0.94      1480

    accuracy                           0.94      2967
   macro avg       0.94      0.94      0.94      2967
weighted avg       0.94      0.94      0.94      2967

In [32]:
# gradient boosting classifier
model = GradientBoostingClassifier(random_state=0)
model.fit(x_train, y_train)
predictions = model.predict(x_test)

In [33]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

         0.0       0.90      1.00      0.95      1487
         1.0       1.00      0.89      0.94      1480

    accuracy                           0.94      2967
   macro avg       0.95      0.94      0.94      2967
weighted avg       0.95      0.94      0.94      2967

In [35]:
# pipe = Pipeline([
#         ('scale', StandardScaler()),
# #         ('reduce_dims', PCA(n_components=4)),
#         ('clf', KNeighborsClassifier())])

# param_grid = dict(reduce_dims__n_components=[4,6,8],
#                   clf__C=np.logspace(-4, 1, 6),
#                   clf__kernel=['rbf','linear'])

# grid = GridSearchCV(pipe, param_grid=param_grid, cv=3, n_jobs=1, verbose=2, scoring= 'accuracy')
# grid.fit(X, y)
# print(grid.best_score_)
# print(grid.cv_results_)